<%= link_to 'Go home', root_url %><br /><br />
<h2>My Profile </h2>

<table>
  <tr>
    <th>First name</th>
    <th>Last Name</th>
    <th>phonenum</th>
    <th>college_name</th>
    <th>address</th>
  </tr>
 
    <tr>
      <td><%= current_student.first_name %></td>
      <td><%= current_student.last_name %></td>
      <td><%= current_student.phonenum %></td>
      <td><%= current_student.college_name %></td>
      <td><%= current_student.address %></td>   
</table>

      <td><%= link_to 'Edit',  edit_student_registration_path %></td><br /><br />
      <td><%= link_to 'Create Resume',  edit_student_registration_path %></td>

      <td><%= link_to 'Back', profiles_path %></td>