

<p>
  <strong>First Name:</strong>
  <%= current_student.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= current_student.last_name %>
</p>


<p>
  <strong>PhoneNum:</strong>
  <%= current_student.phonenum %>
</p>


<p>
  <strong>College Name:</strong>
 <%= current_student.college_name %>
</p>


<p>
  <strong>Objective:</strong>
  <%= current_student.objective %>
</p>


<p>
  <strong>Education:</strong>
  <%= current_student.Education %>
</p>


<p>
  <strong>percentage:</strong>
  <%= current_student.percentage %>
</p>



<p>
  <strong>passout_year:</strong>
  <%= current_student.passout_year %>
</p>

<p>
  <strong>Technical_skills:</strong>
  <%= current_student.Technical_skills %>
</p>

<p>
  <strong>Project_description:</strong>
  <%= current_student.Project_description %>
</p>

<p>
  <strong>Tranning_undergone:</strong>
  <%= current_student.Tranning_undergone %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= current_student.Hobbies %>
</p>

<p>
  <strong>address:</strong>
  <%= current_student.address %>
</p>


 <td><%= link_to 'Back', profiles_path() %></td><br />


 <%= link_to 'Download(PDF)', resume_path("1",format: "pdf") %>
