<table>
  <tr>
    <th>First name</th>
    <th>Last Name</th>
    <th>phonenum</th>
    <th>College_name</th>
    <th>address</th>
  </tr>
 
    <tr>
      <td><%= @student.first_name %></td>
      <td><%= @student.last_name %></td>
      <td><%= @student.phonenum %></td>
      <td><%= @student.college_name%></td>
      <td><%= @student.address %></td>   
</table>

      <td><%= link_to 'Edit',  edit_resume_path %></td><br /><br />

      <td><%= link_to 'Back', root_path %></td>